html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  --link-text-color: #666;
  --emphasis-color: #000;
  --main-background-color: #fff;
  --main-text-color: #404040;
  --secondary-text-color: #757575;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto";
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  max-width: 675px;
  padding: 1.5em;
  padding-top: 4em;
}

.archive {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.archive li {
  text-transform: lowercase;
}

h1 {
  width: 100%;
  font-size: 2em;
  font-weight: 500;
  color: var(--emphasis-color);
  margin-bottom: 0;
}

h2 {
  width: 100%;
  font-size: 1.3em;
  font-weight: 500;
  color: var(--emphasis-color);
}

h3 {
  width: 100%;
  font-style: italic;
  font-size: 1em;
  font-weight: 500;
  color: var(--emphasis-color);
}

a {
  color: var(--link-text-color);
  border-bottom: 1px dashed var(--link-text-color);
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

a:hover {
  color: var(--main-background-color);
  background: var(--emphasis-color);
  border-bottom: 1px solid var(--emphasis-color);
}

.header {
  position: fixed;
  width: 100%;
  padding: 20px;
  z-index: 3;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  background: var(--main-background-color);
}

.header a {
  border-bottom: 0px;
}

.post-title {
  margin-bottom: 0;
}

p {
  width: 100%;
}

article p {
  color: var(--main-text-color);
}

.text {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.meta {
  margin-right: 10px;
  color: var(--secondary-text-color);
  width: 90px;
}

img.center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

 /* 48em = 768px */

 @media (min-width: 48em) {
   .header li {
     float: left;
   }
   .header li a {
     padding: 20px 30px;
   }
   .header .menu {
     clear: none;
     float: right;
     max-height: none;
   }
   .header .menu-icon {
     display: none;
   }

   .main {
     margin: auto;
   }
 }

@media (prefers-color-scheme: dark) {
  html {
    --link-text-color: #fff;
    --emphasis-color: #fefefe;
    --main-background-color: #1e1f20;
    --main-text-color: #d9d9d9;
    --secondary-text-color: #757575;
  }
}
