---
layout: page
description: <i class="fa fa-heart" aria-hidden="true"></i>
---

<h1>
  Hey! I'm Nivi
</h1>
<div class="text">
  I write <a href="https://getrebe.com" target="_blank">software</a> and <a href="https://forgefiction.com/book/quarantinefiction---fictional-stories-143mwz/read/restart-3vc9VT">stories</a> to empower people to become their best selves. I love simplifying complex systems and lately I've been obsessed with habits.
</div>
<h2>Latest article</h2>
{% for post in paginator.posts %}
{% assign minutes = post.content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = "1 min read" %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: "min read" %}
{% endif %}
  <article class="article-snippet">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <div class="article-title">
        <h4>
          {{ post.title }}
        </h4>
        <div class="meta">
          {{ post.date | date: "%b %d, %y" }} · {{ read-time }}
        </div>
      </div>
      <p>
      {{ post.excerpt | strip_html | append: "..." }}
      </p>
    </a>
  </article>
{% endfor %}
