<!-- Footer -->
<div class="footer">
  <div class="products">
    {% for product in site.products %}
    <a class="product-item" href="{{product.url}}">
      <div class="product-title">{{product.title}}</div>
      <div class="product-details">{{product.details}}</div>
    </a>
    {% endfor %}
  </div>
  <div class="footer-item">
    <a target="_blank" class="twitter-btn" title="Follow @nivivive on Twitter" href="https://twitter.com/intent/follow?screen_name=nivivive">
      <i class="fa fa-twitter"></i>
      <span>@nivivive</span>
    </a>
  </div>
  <div class="footer-item">Thanks for visiting :) </div>
</div>
