<!-- Footer -->
<div class="footer">
  <div class="products">
    <div class="product-item">
      <div class="product-title">Join the digital detox challenge</div>
      <div class="product-details">Starting Oct 1</div>
    </div>
  </div>
  <div class="footer-item">
    Get my research in your inbox
  </div>
  <div class="footer-item">
    <input type="text" placeholder="Your email" />
    <button type="submit">Simplify your life</button>
  </div>
  <div class="footer-item">
    Thanks for visiting!
    | &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}
    | <a href="https://twitter.com/nivivive">Twitter</a>
  </div>
</div>
