<!-- Navigation -->
<header class="header">
  <div>
  {% assign sortedPages = site.pages | where:"nav_type","page" | sort:"order" %}
  {% for item in sortedPages %}
    {% if forloop.first == false %}
     :: 
    {% endif %}
    {% if item.title == page.title %}
    <a class="active" href="{{ item.url | prepend: site.baseurl }}">{{item.title}}</a>
    {% elsif item.title %}
    <a href="{{ item.url | prepend: site.baseurl }}">{{item.title}}</a>
    {% endif %}
  {% endfor %}
  </div>
</header>
