<!-- Navigation -->
<header class="header">
  <a href="/" class="logo p-2">Nivi Jayasekar</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    {% for item in site.pages %}
      {% if item.title and item.title == page.title %}
      <li class="active"><a class="active" href="{{ item.url | prepend: site.baseurl }}">{{item.title}}</a>
      {% elsif item.title %}
      <li><a href="{{ item.url | prepend: site.baseurl }}">{{item.title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</header>
