---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = "1 min read" %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: "min read" %}
{% endif %}

<article>
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="meta">{{ page.date | date: "%b %d, %Y" }} · {{ read-time }}</span>
  {{ content }}
  <h2>Discuss on Twitter</h2>
  <blockquote class="twitter-tweet" data-lang="en" data-theme="light">
    <p lang="en" dir="ltr">
      {{page.tweet_snippet}}
    </p>
    &mdash; Nivi Jayasekar (@nivivive)
    <a href="https://twitter.com/nivivive/status/{{page.tweet_id}}?ref_src=twsrc%5Etfw">
      {{page.date | date: "%B %d, %Y"}}
    </a>
  </blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</article>
